body{
	width:350px;
	
	padding-left:35px;
    padding-bottom:5px;
	border:1px solid;
}
img{
	width:300px;
	border:1px solid;
}
lable{
	font-weight:bold;
}
ul{
	list-style-type:none;
}
.italic{
	font-style:italic;
}
.me{
	
	border:1px solid;
	width:300px;
	
}
h1{
     text-align:center;
}

	